@{
    ViewData["Title"] = "Наши герои";
}

<section class="heroes-intro">
    <p>Данная страница посвящена героям-партизанам, которые отдали свои силы и жизни для защиты нашего государства.</p>
</section>

<section class="heroes-gallery">
    <div class="heroes-grid">
        <div class="heroes-item">
            <p class="heroes-name">Гладкая Ольга Андреевна</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Добринево, Дзержинский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> -</p>
            <p class="heroes-info"><strong>Награды:</strong> -</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Курлянский Николай Антонович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Толкачевщина, Дзержинский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1930</p>
            <p class="heroes-info"><strong>Награды:</strong> -</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Васильева Зоя Владимировна</p>
            <p class="heroes-info"><strong>Место рождения:</strong> г. Витебск БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1928 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «Партизану Отечественной войны» II-й степени», Медаль «За победу над Германией в Великой Отечественной войне 1941 – 1945 гг.»</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Варенников Адам Сидорович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Мишковка, Могилевский р-н, Могилевская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1921 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «За боевые заслуги»</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Калечиц Михаил Иванович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Добрынево, Дзержинский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1924 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «За боевые заслуги»</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Бритиков Иван Иванович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> г. Полоцк, Витебская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Русский</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1920 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «Партизану великой отечественной войны I-й степени»</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Свитина (Добыш) Галина Трофимовна</p>
            <p class="heroes-info"><strong>Место рождения:</strong> г. Заславль, Заславский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1925 год</p>
            <p class="heroes-info"><strong>Награды:</strong> -</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Куликовский Адам Адамович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Станьково, Дзержинский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1925 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «За отвагу»</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Воробьев Иван Григорьевич</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Полунинка, Узловский р-н, Тульская область, РСФСР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Русский</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1924 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «Партизану великой отечественной войны I-й степени»</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Шелегов Иван Владимирович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Добосна, Кировский р-н, Могилевская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1918 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «Партизану великой отечественной войны I-й степени»", Орден Красной звезды</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Гинзбург Зинаида Юрьевна</p>
            <p class="heroes-info"><strong>Место рождения:</strong> г. Жлобин, Гомельская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Еврей</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1921 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «Партизану великой отечественной войны I-й степени», Орден Красной звезды</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Подобед Михаил Федорович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Кайково, Минский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1915 год</p>
            <p class="heroes-info"><strong>Награды:</strong> Медаль «За отвагу»</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Шкурдюк Алексей Игнатьевич</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Вицковщина, Дзержинский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1919 год</p>
            <p class="heroes-info"><strong>Награды:</strong> -</p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Красовский Марк Тихонович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Радин, Комаринский р-н, Полесская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1914 год</p>
            <p class="heroes-info"><strong>Награды:</strong>Орден Красной звезды, Медаль «За отвагу», Медаль «Партизану войны I-й степени» </p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Деменьтев Петр Иванович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д.Острово, Крупицкий р-н, Минская область, РСФСР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1911 год</p>
            <p class="heroes-info"><strong>Награды:</strong>Орден Красной звезды </p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Сорока Евгений Васильевич</p>
            <p class="heroes-info"><strong>Место рождения:</strong> Дзержинский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1922 год</p>
            <p class="heroes-info"><strong>Награды:</strong>Орден Отечественной войны II-й степени </p>
        </div>

        <div class="heroes-item">
            <p class="heroes-name">Чулицкий Вячеслав Иванович</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д. Валицковщина, Минский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1929 год</p>
            <p class="heroes-info"><strong>Награды:</strong>- </p>
        </div>
        <div class="heroes-item">
            <p class="heroes-name">Балашко Леонид Сергеевич</p>
            <p class="heroes-info"><strong>Место рождения:</strong> д.Станьково, Дзержинский р-н, Минская область, БССР</p>
            <p class="heroes-info"><strong>Национальность:</strong> Белорус</p>
            <p class="heroes-info"><strong>Дата рождения:</strong> 1924 год</p>
            <p class="heroes-info"><strong>Награды:</strong>Медаль «За отвагу»</p>
        </div>

    </div>
</section>


