<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
    <link rel="icon" href="~/images/redstar.png" type="image/png">
</head>
<body>
    <header>
        <span class="logo">
            <img src="@Url.Content("~/images/logo.png")" alt="Логотип" />
            Музей боевой славы партизанского отряда имени 25-летия октября
        </span>
        <nav>
            <a href="/">Главная</a>
@*             <a href="/Home/Defence">Сражения</a> *@
            <a href="/Home/Heroes">Герои партизаны</a>
            <a href="/Home/About">О музее</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer-content">
            <p>© 2024 Все права защищены.</p>
            <div class="social-icons">
                <a href="https://www.instagram.com/newsschool125/" target="_blank">
                    <img src="@Url.Content("~/images/icons/instagram.png")" alt="Instagram" class="social-icon">
                </a>
            </div>
        </div>
    </footer>


</body>
</html>
